body {
   background:
   linear-gradient(27deg, #eaeaea 5px, transparent 5px) 0 5px,
   linear-gradient(207deg, #eaeaea 5px, transparent 5px) 10px 0px,
   linear-gradient(27deg, #ddd 5px, transparent 5px) 0px 10px,
   linear-gradient(207deg, #ddd 5px, transparent 5px) 10px 5px,
   linear-gradient(90deg, #e4e4e4 10px, transparent 10px),
   linear-gradient(#e2e2e2 25%, #e5e5e5 25%, #e5e5e5 50%, transparent 50%, transparent 75%, #dbdbdb 75%, #dbdbdb);
   background-color: #ececec;
   background-size: 20px 20px;
}

@font-face {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/patrickhand/v19/LDI1apSQOAYtSuYWp8ZhfYe8XsLLubg58w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.site-title {
   font-family: 'Patrick Hand';
   font-weight: 600;
}

.site-nav .page-link {
    font-family: 'Patrick Hand';
}

.new-post {
   float: right;
   border: .5px solid #23bf56 ;
   background-color: #28b463;
   padding: 10px 15px;
   font-size: 18px;
   box-shadow: 0 0 30px 0 #23bf56 ,
               0 0 30px 0 #23bf56 ,
               0 0 10px 0 #23bf56  inset;
   border-radius: 10px;
}

.new-post:hover {background-color: #19ba78;}

.footer-heading {
   font-family: 'Patrick Hand';
   font-weight: 600;
}

.footer-col-3 {
   width: calc(35% - (40px / 2));
   padding-left: 95px;
   font-size: larger;
   color: dimgray;
}

@media only screen and (max-width: 800px){
   .footer-col-3 {
        width: calc(65% - (40px / 2));
        padding-left: 15px;
    }
}

@media screen and (max-width: 800px) {
   .site-nav .page-link {
      display: block;
      padding: 10px 50px;
      text-align: center;
      font-size: 24px;
      margin-left: 0;
  }
}

.p-name {color: dimgray;}

.post-title {color: black;}
