body {
   background:
   linear-gradient(27deg, #eaeaea 5px, transparent 5px) 0 5px,
   linear-gradient(207deg, #eaeaea 5px, transparent 5px) 10px 0px,
   linear-gradient(27deg, #ddd 5px, transparent 5px) 0px 10px,
   linear-gradient(207deg, #ddd 5px, transparent 5px) 10px 5px,
   linear-gradient(90deg, #e4e4e4 10px, transparent 10px),
   linear-gradient(#e2e2e2 25%, #e5e5e5 25%, #e5e5e5 50%, transparent 50%, transparent 75%, #dbdbdb 75%, #dbdbdb);
   background-color: #ececec;
   background-size: 20px 20px;
}


@font-face {
  font-family: 'HeadlandOne';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/headlandone/v15/yYLu0hHR2vKnp89Tk1TCq3TB2fNSSZ0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

.site-title {
   font-family: 'HeadlandOne';
   font-weight: bold;
}

.footer-heading {
   font-family: 'HeadlandOne';
   font-weight: bold;
}

.footer-col-3 {
    width: calc(35% - (40px / 2));
    padding-left: 95px;
    font-size: larger;
    color: dimgray;
}

.p-name {color: dimgray;}

.post-title {color: black;}
